{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block watch_active %}active{% endblock watch_active %}

{% block headcss %}
    <link href="{% static "video-js/video-js.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "video-js/video-speed.css" %}" rel="stylesheet" type="text/css>">
    <style>
    #video-player {
        float: right;
        min-width: 900px;
        min-height: 600px; 
    }

    #playlist-welcome {
        text-align: center;
    }
    .playlist-entities-list {
        max-width: 120px;
        float: left;
        padding: 10px;
    }
    .playlist-entities-list li {
       border-bottom: 1px solid #aaa; 
    }

    </style>
{% endblock headcss %}

{% block headjs %}
    <script src="{% static "video-js/video.min.js" %}"></script>
    <script src="{% static "video-js/video-speed.js" %}"></script>
    <script>
        _V_.options.flash.swf = "{% static "video-js/video-js.swf" %}";
    </script>
{% endblock headjs %}

{% block content %}
<h2 class="title-header">
    <span class="title">{% trans selected_playlist.title %}</span><br/>
    {% if selected_playlist.description %}
        <span class="long-description">{% trans selected_playlist.description %}</span>
    {% endif %}
    <div class="clear"></div>
<div class="points-container" style="display: none;">{% trans "Points" %}: <span class="points">0</span></div>
</h2>

<div class="clear"></div>
{# Here the prev and next navigation buttons are to be present #}
<div class="clear"></div>

<div id="playlist_list" class="vertical-shadow playlist-entities-list">
    {% if entity_list %}
    <ul>
       {% for entity_item in entity_list %}
            <li><button name="hello" id="{{entity_item.youtube_id}}-entity">{{entity_item.teacher_note}}</button></li>
        {% endfor %}
    </ul>
    {%else %}
    {% trans "There are no items in this playlist" %}
    {% endif %}
</div>

<div id="video-player">
{% if video_exists %}
    <span id="playlist_welcome">Your video shall appear here. Click on one of them from the playlist on the left. </span>
{% else %}
    <span id="playlist_welcome">There do not seem to be any videos in this playlist. Please bug your teacher about it. </span>
{% endif %}
</div>

{% endblock content %}

{% block bodyjs %}
<script src="{% static "js/videoplayer.js" %}"></script>

<script>

$(function() {    
    
    var initialize_video = _.once(function(width, height) {
        
        window.videoView = new VideoView({
            el: $("#video-player"),
            youtube_id: "{{ video.youtube_id }}",
            width: width,
            height: height
        });

        var resize_video = _.throttle(function() {
            var available_width = $("article").width();
            var available_height = $(window).height() * 0.9;
            videoView.setContainerSize(available_width, available_height);
        }, 500);
        
        $(window).resize(resize_video);
        
        resize_video();
        
    });

    $("video").bind("loadedmetadata", function() {
        
        var width = $(this).prop("videoWidth");
        var height = $(this).prop("videoHeight");
        
        initialize_video(width, height);
        
    });

    $(".video-thumb").load(function() {

        var width = $(".video-thumb").width();
        var height = $(".video-thumb").height();
        
        initialize_video(width, height);
                            
    });

// This is extremely hacky, I need to read up about how to pass the entity_item information in the event object 
// when I click on a particular playlist item.
    {% if entity_list %}
       {% for entity_item in entity_list %}
            $("#{{entity_item.youtube_id}}-entity").on('click',function(event) {
                event.preventDefault();
                console.log("inside"+"{{entity_item.youtube_id}}");
                $('#video-player').empty();
                $("#video-player").html('<video id="video-element" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="600" poster="{{ CONTENT_URL }}{{ entity_item.youtube_id }}.png" data-setup="{}">'+
                    '<source src="{{ CONTENT_URL }}{{ entity_item.youtube_id }}.mp4" type="video/mp4" />'+
                    '<track kind="captions" src="{{ CONTENT_URL }}{{ entity_item.youtube_id }}.srt" srclang="en" label="On" />'+
                    '</video>')
            });
       {% endfor %}
    {% endif %}   

});
</script>
{% endblock bodyjs %}
