{% extends 'base_distributed.html' %}

{% load i18n %}
{% load staticfiles %}

{% block watch_active %}active{% endblock watch_active %}

{% block headcss %}
    <link href="{% static "video-js/video-js.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "video-js/video-speed.css" %}" rel="stylesheet" type="text/css>">
    <style>
    #video-player {
        float: right;
        min-width: 900px;
        min-height: 600px; 
    }

    #playlist-welcome {
        text-align: center;
    }
    .playlist-entities-list {
        max-width: 120px;
        float: left;
        padding: 10px;
    }
    .playlist-entities-list li {
       border-bottom: 1px solid #aaa; 
    }

    </style>
{% endblock headcss %}

{% block headjs %}
    <script src="{% static "video-js/video.min.js" %}"></script>
    <script src="{% static "video-js/video-speed.js" %}"></script>
    <script>
        _V_.options.flash.swf = "{% static "video-js/video-js.swf" %}";
    </script>
{% endblock headjs %}

{% block content %}
<h2 class="title-header">
    <span class="title">{% trans selected_playlist.title %}</span><br/>
    {% if selected_playlist.description %}
        <span class="long-description">{% trans selected_playlist.description %}</span>
    {% endif %}
    <div class="clear"></div>
<div class="points-container" style="display: none;">{% trans "Points" %}: <span class="points">0</span></div>
</h2>

<div class="clear"></div>
{# Here the prev and next navigation buttons are to be present #}
<div class="clear"></div>

<div id="playlist_list" class="vertical-shadow playlist-entities-list">
    {% if entity_list %}
    <ul>
       {% for entity_item in entity_list %}
            <li><button name="hello" id="{{entity_item.youtube_id}}-entity" class="playlist-entity">{{entity_item.teacher_note}}</button></li>
        {% endfor %}
    </ul>
    {%else %}
    {% trans "There are no items in this playlist" %}
    {% endif %}
</div>

<div id="video-player">
{% if video_exists %}
    <video id="video-element" class="video-js vjs-default-skin" controls preload="auto" width="100%" height="600">
        {# How to add srt track to video tag from js? #}
       {# <track kind="captions" src="{{ CONTENT_URL }}{{ entity_item.youtube_id }}.srt" srclang="en" label="On" /> #}
    </video>
{% else %}
    <span id="playlist_welcome">There do not seem to be any videos in this playlist. Please bug your teacher about it. </span>
{% endif %}
</div>

{% endblock content %}

{% block bodyjs %}
<script src="{% static "js/videoplayer.js" %}"></script>

<script>

$(function() {    
    
    var initialize_video = function(width, height, youtube_id) {
        window.videoView = new VideoView({
            el: $("#video-player"),
            youtube_id: youtube_id,
            width: width,
            height: height
        });

        var resize_video = _.throttle(function() {
            var available_width = $("article").width();
            var available_height = $(window).height() * 0.9;
            videoView.setContainerSize(available_width, available_height);
        }, 500);
        
        $(window).resize(resize_video);
        
        resize_video();
        
    };
/*
Why are we passing youtube_id to the backbone view?
    I guess it is only to take care of the backend accumulation of points and such, and NOT for
    displaying the video itself.
*/                            
  $(".playlist-entity").click(function(event) {
        button_id = event.target.id;
        js_player = _V_($("video").attr("id")); 
        youtube_id = button_id.split("-")[0];
        console.log(youtube_id);
        // Approximate heights and widths given. Fix this later
        initialize_video(600,600,youtube_id);
        js_player.ready(function(){
            source_url = "http://127.0.0.1:7001/content/"+youtube_id+".mp4";
            this.src(source_url);
        });
    });
});
</script>
{% endblock bodyjs %}
